build/**
iso/boot/kernel.elf
iso/boot/grub/menu.lst
iso/boot/grub/grub.cfg
emu/*.out
emu/*.txt
G*
src/cscope.*
disk/*
iso/progs/*

# Ignores every report file except the .tex and .pdf file
report/**
!report/report.tex

